In [331]:
from data.data import COVID19India

In [334]:
cin = COVID19India()

In [336]:
df = cin.moh_data(save=True)

In [338]:
df.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,3,0,0,0
1,Chhattisgarh,1,0,0,0
2,Delhi,25,1,5,1
3,Gujarat,7,0,0,0
4,Haryana,3,14,0,0

In [339]:
df

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,3,0,0,0
1,Chhattisgarh,1,0,0,0
2,Delhi,25,1,5,1
3,Gujarat,7,0,0,0
4,Haryana,3,14,0,0
5,Himachal Pradesh,2,0,0,0
6,Karnataka,15,0,1,1
7,Kerala,33,7,3,0
8,Madhya Pradesh,4,0,0,0
9,Maharashtra,60,3,0,1
10,Odisha,2,0,0,0
11,Puducherry,1,0,0,0
12,Punjab,13,0,0,1
13,Rajasthan,15,2,3,0
14,Tamil Nadu,3,0,1,0
15,Telengana,10,11,1,0
16,Chandigarh,1,0,0,0
17,Jammu and Kashmir,4,0,0,0
18,Ladakh,13,0,0,0
19,Uttar Pradesh,23,1,9,0
20,Uttarakhand,3,0,0,0
21,West Bengal,3,0,0,0
22,Total number of confirmed cases in India,244,39,23,4

In [340]:
df2 = cin.jhu_india_data(save=True)

In [341]:
df2

         date  confimred  deaths  recovered
0  2020-01-22          0       0          0
1  2020-01-23          0       0          0
2  2020-01-24          0       0          0
3  2020-01-25          0       0          0
4  2020-01-26          0       0          0
5  2020-01-27          0       0          0
6  2020-01-28          0       0          0
7  2020-01-29          0       0          0
8  2020-01-30          1       0          0
9  2020-01-31          1       0          0
10 2020-02-01          1       0          0
11 2020-02-02          2       0          0
12 2020-02-03          3       0          0
13 2020-02-04          3       0          0
14 2020-02-05          3       0          0
15 2020-02-06          3       0          0
16 2020-02-07          3       0          0
17 2020-02-08          3       0          0
18 2020-02-09          3       0          0
19 2020-02-10          3       0          0
20 2020-02-11          3       0          0
21 2020-02-12          3       0          0
22 2020-02-13          3       0          0
23 2020-02-14          3       0          0
24 2020-02-15          3       0          0
25 2020-02-16          3       0          3
26 2020-02-17          3       0          3
27 2020-02-18          3       0          3
28 2020-02-19          3       0          3
29 2020-02-20          3       0          3
30 2020-02-21          3       0          3
31 2020-02-22          3       0          3
32 2020-02-23          3       0          3
33 2020-02-24          3       0          3
34 2020-02-25          3       0          3
35 2020-02-26          3       0          3
36 2020-02-27          3       0          3
37 2020-02-28          3       0          3
38 2020-02-29          3       0          3
39 2020-03-01          3       0          3
40 2020-03-02          5       0          3
41 2020-03-03          5       0          3
42 2020-03-04         28       0          3
43 2020-03-05         30       0          3
44 2020-03-06         31       0          3
45 2020-03-07         34       0          3
46 2020-03-08         39       0          3
47 2020-03-09         43       0          3
48 2020-03-10         56       0          4
49 2020-03-11         62       1          4
50 2020-03-12         73       1          4
51 2020-03-13         82       2          4
52 2020-03-14        102       2          4
53 2020-03-15        113       2         13
54 2020-03-16        119       2         13
55 2020-03-17        142       3         14
56 2020-03-18        156       3         14
57 2020-03-19        194       4         15
58 2020-03-20        244       5         20