In [1]:
from data.data import COVID19India

In [2]:
cin = COVID19India()

In [3]:
df = cin.moh_data(save=False)

In [4]:
df.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,3,0,0,0
1,Chhattisgarh,1,0,0,0
2,Delhi,26,1,5,1
3,Gujarat,14,0,0,0
4,Haryana,3,14,0,0

df

In [5]:
df.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,3,0,0,0
1,Chhattisgarh,1,0,0,0
2,Delhi,26,1,5,1
3,Gujarat,14,0,0,0
4,Haryana,3,14,0,0

In [18]:
from pathlib import Path

In [61]:
import pandas as pd
import numpy as np

def get_daily_data(df):
    df1 = df[df['date'] > "2020-02-29"].reset_index(drop=True)

    def get_daily_cases(x):
        a = [x[0]] + np.diff(x).tolist() 
        return a
    df1['daily_confirmed'] = get_daily_cases(df1.confirmed)
    df1['daily_recovered'] = get_daily_cases(df1.recovered)
    df1['daily_deaths'] = get_daily_cases(df1.deaths)
    return df1

In [62]:
df = get_daily_data(df=df)

In [63]:
df

,date,confirmed,recovered,deaths,daily_confirmed,daily_recovered,daily_deaths
0,2020-03-01,3.0,3.0,0.0,3.0,3.0,0.0
1,2020-03-02,5.0,3.0,0.0,2.0,0.0,0.0
2,2020-03-03,5.0,3.0,0.0,0.0,0.0,0.0
3,2020-03-04,28.0,3.0,0.0,23.0,0.0,0.0
4,2020-03-05,30.0,3.0,0.0,2.0,0.0,0.0
5,2020-03-06,31.0,3.0,0.0,1.0,0.0,0.0
6,2020-03-07,34.0,3.0,0.0,3.0,0.0,0.0
7,2020-03-08,39.0,3.0,0.0,5.0,0.0,0.0
8,2020-03-09,43.0,3.0,0.0,4.0,0.0,0.0
9,2020-03-10,56.0,4.0,0.0,13.0,1.0,0.0
10,2020-03-11,62.0,4.0,1.0,6.0,0.0,1.0
11,2020-03-12,73.0,4.0,1.0,11.0,0.0,0.0
12,2020-03-13,82.0,4.0,2.0,9.0,0.0,1.0
13,2020-03-14,102.0,4.0,2.0,20.0,0.0,0.0
14,2020-03-15,113.0,13.0,2.0,11.0,9.0,0.0
15,2020-03-16,119.0,13.0,2.0,6.0,0.0,0.0
16,2020-03-17,142.0,14.0,3.0,23.0,1.0,1.0
17,2020-03-18,156.0,14.0,3.0,14.0,0.0,0.0
18,2020-03-19,194.0,15.0,4.0,38.0,1.0,1.0
19,2020-03-20,244.0,20.0,5.0,50.0,5.0,1.0
20,2020-03-21,330.0,23.0,4.0,86.0,3.0,-1.0
21,2020-03-22,396.0,27.0,7.0,66.0,4.0,3.0

In [78]:
def get_interval_data(days=7, cases = get_daily_data(df), cols =["daily_confirmed", 'daily_recovered', 'daily_deaths']):
    data = {}
    value = "week" if days == 7 else f"{days}days"
    for i in range(len(cases)):
        if i%days == 0:
            a = int(i/days) + 1 
            data[value + '-' + str(a)] = [cases[col][i:i+days].sum() for col in cols]
    print(data)
    for k, v in data.items():
        print(k,v)
    data = pd.DataFrame(data=[[k]+ v for k,v in data.items()], columns=[value] + cols)
    for col in cols:
        data[col + "_cum_sum"] = data[col].cumsum()
    return data

In [79]:
get_interval_data(days=7)

{'week-1': [34.0, 3.0, 0.0], 'week-2': [68.0, 1.0, 2.0], 'week-3': [228.0, 19.0, 2.0], 'week-4': [66.0, 4.0, 3.0]}
week-1 [34.0, 3.0, 0.0]
week-2 [68.0, 1.0, 2.0]
week-3 [228.0, 19.0, 2.0]
week-4 [66.0, 4.0, 3.0]

,week,daily_confirmed,daily_recovered,daily_deaths,daily_confirmed_cum_sum,daily_recovered_cum_sum,daily_deaths_cum_sum
0,week-1,34.0,3.0,0.0,34.0,3.0,0.0
1,week-2,68.0,1.0,2.0,102.0,4.0,2.0
2,week-3,228.0,19.0,2.0,330.0,23.0,4.0
3,week-4,66.0,4.0,3.0,396.0,27.0,7.0