In [2]:
from data.data import COVID19India

In [3]:
cin = COVID19India()

In [4]:
df = cin.moh_data(save=False)

In [5]:
df.tail()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
21,Ladakh,13,0,0,0
22,Uttar Pradesh,34,1,11,0
23,Uttarakhand,3,1,0,0
24,West Bengal,9,0,0,1
25,Total number of confirmed cases in India,519,43,41,9

df

In [60]:
df2 = cin.jhu_india_data()

In [61]:
df2.tail()

         date  confirmed  recovered  deaths
57 2020-03-19      194.0       15.0     4.0
58 2020-03-20      244.0       20.0     5.0
59 2020-03-21      330.0       23.0     4.0
60 2020-03-22      396.0       27.0     7.0
61 2020-03-23      396.0       27.0     7.0

In [62]:
import pandas as pd

In [17]:
df2.iloc[62:, :]

Empty DataFrame
Columns: [date, confirmed, recovered, deaths]
Index: []

In [2]:
from pathlib import Path

In [3]:
import pandas as pd
import numpy as np

markdown_file = open('help.md')
file_content = markdown_file.read()
md = markdown.Markdown(extensions=['tables', 'codehilite', 'fenced_code'])
pg = md.convert(file_content)

NameError: name 'df' is not defined