In [1]:
from data.data import COVID19India

In [2]:
cin = COVID19India()

In [3]:
df = cin.moh_data(save=False)

In [4]:
df.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,3,0,0,0
1,Chhattisgarh,1,0,0,0
2,Delhi,26,1,5,1
3,Gujarat,14,0,0,0
4,Haryana,3,14,0,0

df

In [5]:
df.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,3,0,0,0
1,Chhattisgarh,1,0,0,0
2,Delhi,26,1,5,1
3,Gujarat,14,0,0,0
4,Haryana,3,14,0,0

In [18]:
from pathlib import Path

In [21]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry


class InshortsNews():
    def __init__(self, category='national'):
        self.category = category
        self.url = 'https://www.inshorts.com/en/read/' + str(self.category)
        self.request_timeout = 120
        self.headers = {
            'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

        self.session = requests.Session()
        retries = Retry(total=5, backoff_factor=0.5, status_forcelist=[502, 503, 504])
        self.session.mount('http://', HTTPAdapter(max_retries=retries))

    def __request(self):
        try:
            response = self.session.get(self.url, timeout=self.request_timeout, headers=self.headers)
            response.raise_for_status()
            content = response.content.decode('utf-8')
            return content
        except Exception as e:
            raise

    def get_news(self):
        content = self.__request()
        soup = BeautifulSoup(content, 'html.parser')
        headings = [text.span.text for text in soup.find_all('div', attrs={'class': 'news-card-title'})]

        newss = [text.text.strip().split('\n\n')[0] for text in
                 soup.find_all('div', attrs={'class': 'news-card-content'})]

        short_by = [' '.join(text.div.text.strip().split('/ \n      ')[0].split()[2:])
                    for text in soup.find_all('div', attrs={'class': 'news-card-title'})]

        times = [text.text.strip().split('\n\n')[1].split('/ \n      ')[1].split(' ')[0:]
                 for text in soup.find_all('div', attrs={'class': 'news-card-title'})]
        times = pd.to_datetime([' '.join(text[3:6] + text[:2]) for text in times])

        data = pd.DataFrame(data=[headings, newss, short_by, times]).T
        data.columns = ['headings', 'news', 'short_by', 'time']
        data.sort_values('time', inplace=True, ascending=False)
        data.reset_index(drop=True, inplace=True)
        data['category'] = self.category
        return data

    def get_all_news(self):
        categories = ['national', 'business', 'sports', 'world', 'politics', 'technology',
                      'startup', 'entertainment', 'miscellaneous', 'hatke', 'science', 'automobile']
        data = pd.DataFrame(columns=['headings', 'news', 'short_by', 'time', 'category'])
        for category in categories:
            data1 = InshortsNews(category).get_news()
            data = pd.concat([data, data1], axis=0)
        data.reset_index(drop=True, inplace=True)
        return data

In [28]:
df11 = InshortsNews().get_news()

In [39]:
news = """
"""

for v in df11.values[:10]:
    news += f"# {v[0]}\n```{v[1]}```\n"

In [40]:
print(news)

# Punjab Police dances to 'Baari Barsi' to spread awareness about COVID-19
```Punjab Police DGP Dinkar Gupta on Saturday shared a video of police officials dancing to a self-composed version of the song 'Baari Barsi' for spreading awareness about COVID-19. In the video, the police personnel advised public to cover their mouth with elbow while coughing and sneezing. The officials also asked people to say 'Sat Sri Akal' instead of shaking hands.```
# Flight with 263 students from coronavirus-hit Rome lands in Delhi
```The special Air India flight carrying 263 Indian students that took off from coronavirus-hit Italy's Rome landed at Delhi airport on Sunday. As per reports, all precautions are being exercised and standard operating procedures (SOPs) for handling passengers are being followed. The coronavirus death toll in Italy has reached 4,825 with total cases rising to 53,578.```
# Number of coronavirus cases in India rises to 324
```The total number of coronavirus cases in India has risen to 324, said the Ministry of Health and Family Welfare on Sunday. Out of these, 283 cases are of Indian nationals and 41 are of foreign nationals. The number of patients who have been cured and discharged is 24. India recorded its biggest one-day jump on Saturday with 79 cases.```
# 4-year-old girl found negative after coronavirus retest, no cases in Assam so far
```Assam Health Minister Himanta Biswa Sarma on Sunday tweeted that a 4-year-old girl suspected to have coronavirus has been found to be negative after a retest. "There is no COVID-19 positive case in Assam so far," he added. Earlier, reports had called it the first coronavirus case in Assam, saying that her initial test result came positive.```
# Indian Railways cancels over 3,700 trains on Sunday amid COVID-19 scare
```The Indian Railways on Friday announced the cancellation of over 3,700 passenger locomotives and long-distance mail, express trains, which were scheduled to run on Sunday amid the COVID-19 outbreak. The cancellation coincides with 'Janata Curfew' announced by PM Narendra Modi. "However, the trains already on run at 7 am on Sunday will be allowed to run their destinations," Railways said.```
# Govt releases guidelines for coronavirus tests in private labs, puts limit on cost
```The government has released guidelines for coronavirus testing in private laboratories. The government notification includes sample collection and testing guidelines, reporting protocols, and policy for sample storage and destruction. The government said that the maximum cost for testing sample should not exceed ₹4,500, adding that failure to comply with the guidelines will result in legal action.```
# Our determination will defeat COVID-19: PM Modi as 'Janata Curfew' begins
```As the country observes 'Janata Curfew' on Sunday, PM Narendra Modi has urged people to be a part of it in order to "add tremendous strength in the fight against COVID-19". "Our patience and determination will help us in defeating this pandemic," PM Modi tweeted. "The steps we take now will help in the times to come," he added.```
# Jamia students temporarily call off CAA protest over coronavirus
```The Jamia Coordination Committee has temporarily called off the protest against Citizenship (Amendment) Act in light of coronavirus pandemic. The protest by the students of Jamia Millia Islamia University in Delhi entered its 100th day on Saturday. The committee said face masks and sanitisers were distributed to all protesters and they were urged to "take the situation with utmost seriousness".```
# Coronavirus cases in India reach 315 after country records biggest one-day jump
```The number of confirmed cases of coronavirus in India has surged to 315. This comes after India recorded 79 cases on Saturday, its biggest one-day jump. A total of 16,911 samples from 16,021 individuals have been tested for coronavirus as on March 21, the Indian Council of Medical Research said. The number of cases in Kerala crossed the 50-mark today.```
# Rajasthan becomes 1st state to announce lockdown from March 22 to March 31
```Rajasthan Chief Minister Ashok Gehlot has announced that the state will remain in lockdown from March 22 to 31 amid the coronavirus pandemic. Under the lockdown, all the borders of the state will also be sealed. CM Gehlot added that only shops selling daily necessities like vegetables, dairy and medical items will remain open during the lockdown.```

In [24]:
df11

,headings,news,short_by,time,category
0,Punjab Police dances to 'Baari Barsi' to sprea...,Punjab Police DGP Dinkar Gupta on Saturday sha...,Jigyasu,2020-03-22 10:51:00,national
1,Flight with 263 students from coronavirus-hit ...,The special Air India flight carrying 263 Indi...,Jigyasu,2020-03-22 10:43:00,national
2,Number of coronavirus cases in India rises to 324,The total number of coronavirus cases in India...,Daisy Mowke,2020-03-22 10:36:00,national
3,4-year-old girl found negative after coronavir...,Assam Health Minister Himanta Biswa Sarma on S...,Daisy Mowke,2020-03-22 09:45:00,national
4,"Indian Railways cancels over 3,700 trains on S...",The Indian Railways on Friday announced the ca...,Jigyasu,2020-03-22 09:34:00,national
...,...,...,...,...,...
294,Researchers trick Tesla cars into speeding wit...,Researchers at McAfee successfully tricked two...,Pragya Swastik,2020-02-19 18:52:00,automobile
295,Porsche Taycan catches fire and burns inside b...,Porsche has confirmed that one of its new Tayc...,Pragya Swastik,2020-02-19 15:52:00,automobile
296,We brought Chinese parts to UK in suitcases: T...,Tata Motors' British luxury unit Jaguar Land R...,Krishna Veera Vanamali,2020-02-19 15:08:00,automobile
297,Fire me immediately if I fail to turn around N...,Nissan's new CEO Makoto Uchida said he would w...,Anushka Dixit,2020-02-18 18:01:00,automobile
298,Tesla CEO Elon Musk calls Bill Gates 'underwhe...,Electric carmaker Tesla's CEO Elon Musk has ca...,Pragya Swastik,2020-02-18 15:06:00,automobile

In [27]:
df11[39:59]

,headings,news,short_by,time,category
39,IndiGo grounds 30 planes as govt bars int'l fl...,IndiGo has been forced to ground 30 planes aft...,Kiran Khatri,2020-03-20 20:49:00,business
40,India gets $1-mn materials requests from SAARC...,The Ministry of External Affairs (MEA) said In...,Kiran Khatri,2020-03-20 19:19:00,business
41,Uber's former exec admits stealing self-drivin...,"Anthony Levandowski, Uber's former self-drivin...",Aishwarya,2020-03-20 18:50:00,business
42,Uber's rides down by 70% in coronvirus-hit cit...,Uber CEO Dara Khosrowshahi has revealed that c...,Aishwarya,2020-03-20 18:37:00,business
43,"Investors gain ₹7 lakh cr as Sensex, Nifty tra...",Investors gained ₹7 lakh crore on Friday as Se...,Kiran Khatri,2020-03-20 18:34:00,business
44,"Yes Bank to raise ₹20,000 cr through certifica...","Yes Bank is planning to raise ₹20,000 crore th...",Kiran Khatri,2020-03-20 16:54:00,business
45,We can stay open during lockdowns as we are 'e...,Gaming retail platform GameStop told its emplo...,Aishwarya,2020-03-20 16:45:00,business
46,Mukesh Ambani & family raise stake in RIL; all...,"Mukesh Ambani, his wife Nita Ambani and three ...",Dharna,2020-03-20 16:27:00,business
47,Apollo Tyres' top management to take 15-25% pa...,Apollo Tyres has said its top management will ...,Kiran Khatri,2020-03-20 15:40:00,business
48,Coronavirus pandemic to leave behind a global ...,Billionaire Anand Mahindra has said the corona...,Dharna,2020-03-20 13:08:00,business
49,Fitch cuts India's GDP growth forecast to 5.1%...,Fitch Ratings cut India's GDP growth forecast ...,Dharna,2020-03-20 12:16:00,business
50,Ronaldo's strike partner Dybala and his girlfr...,Cristiano Ronaldo's strike partner at Juventus...,Anmol Sharma,2020-03-22 09:12:00,sports
51,He should focus on his own game: PCB CEO on Ha...,Pakistan Cricket Board (PCB) CEO Wasim Khan ha...,Ankur Taliyan,2020-03-21 22:49:00,sports
52,I forgot the most basic aspect of cricket: McC...,Recalling the 2015 World Cup final defeat agai...,Anmol Sharma,2020-03-21 22:23:00,sports
53,Greedy traders actual virus: B'desh bowler Rub...,Bangladesh pacer Rubel Hossain has criticised ...,Ankur Taliyan,2020-03-21 22:17:00,sports
54,Chhetri reveals he'd like to play for RCB if g...,Indian football team captain Sunil Chhetri on ...,Ankur Taliyan,2020-03-21 22:01:00,sports
55,Have reduced dope tests by 75% due to COVID-19...,The National Anti-Doping Agency (NADA) Directo...,Ankur Taliyan,2020-03-21 21:09:00,sports
56,SL postpones all domestic tournaments after CO...,Sri Lanka cricket has postponed all domestic t...,Ankur Taliyan,2020-03-21 20:39:00,sports
57,Shouldn't standards of dignity be higher than ...,In an apparent reference to Pakistan batsman S...,Ankur Taliyan,2020-03-21 20:00:00,sports
58,UEFA apologies for tweeting name of postponed ...,UEFA has apologised for tweeting the name of t...,Ankur Taliyan,2020-03-21 18:50:00,sports