In [1]:
from data.data import COVID19India

In [2]:
cin = COVID19India()

In [3]:
df = cin.moh_data(save=False)

In [4]:
df.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,3,0,0,0
1,Chhattisgarh,1,0,0,0
2,Delhi,26,1,5,1
3,Gujarat,14,0,0,0
4,Haryana,3,14,0,0

df

In [5]:
df.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,3,0,0,0
1,Chhattisgarh,1,0,0,0
2,Delhi,26,1,5,1
3,Gujarat,14,0,0,0
4,Haryana,3,14,0,0

In [18]:
from pathlib import Path

In [80]:
from IPython import display
import os
def show_app(app, port = 9999, 
             width = 700, 
             height = 350, 
             offline = False,
            in_binder = None):
    in_binder ='JUPYTERHUB_SERVICE_PREFIX' in os.environ if in_binder is None else in_binder
    if in_binder:
        base_prefix = '{}proxy/{}/'.format(os.environ['JUPYTERHUB_SERVICE_PREFIX'], port)
        url = 'https://hub.mybinder.org{}'.format(base_prefix)
        app.config.requests_pathname_prefix = base_prefix
    else:
        url = 'http://localhost:%d' % port
        
    iframe = '<a href="{url}" target="_new">Open in new window</a><hr><iframe src="{url}" width={width} height={height}></iframe>'.format(url = url, 
                                                                                  width = width, 
                                                                                  height = height)
    
    display.display_html(iframe, raw = True)
    if offline:
        app.css.config.serve_locally = True
        app.scripts.config.serve_locally = True
    return app.run_server(debug=False, # needs to be false in Jupyter
                          host = '0.0.0.0',
                          port=port)

In [83]:
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import dash_dangerously_set_inner_html
import pandas as pd
import dash
app = dash.Dash('')

app.scripts.config.serve_locally = False

app.layout = html.Div([
    dash_dangerously_set_inner_html.DangerouslySetInnerHTML('''
        <h1><blink>Raw</blink> HTML! (dash aint got no blink tag)</h1>
    '''),
    dcc.Input(id='my-id', value='initial value', type="text"),
    html.H4('Use Pandas HTML Export!'),
    html.Div(id='my-div')
])

@app.callback(
    Output(component_id='my-div', component_property='children'),
    [Input(component_id='my-id', component_property='value')]
)
def update_output_div(input_value):
    html_table = pd.DataFrame([dict(letter = i) for i in input_value]).to_html()
    return dash_dangerously_set_inner_html.DangerouslySetInnerHTML(html_table)

In [ ]:
if __name__ == '__main__':
    app.run_server(debug=True)