In [1]:
from data.data import COVID19India

In [2]:
cin = COVID19India()

In [3]:
df = cin.moh_data(save=False)

In [4]:
df.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,3,0,0,0
1,Chhattisgarh,1,0,0,0
2,Delhi,26,1,5,1
3,Gujarat,14,0,0,0
4,Haryana,3,14,0,0

df

In [5]:
df.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,3,0,0,0
1,Chhattisgarh,1,0,0,0
2,Delhi,26,1,5,1
3,Gujarat,14,0,0,0
4,Haryana,3,14,0,0

In [6]:
url = "http://web.archive.org/web/20200320173607/https://www.mohfw.gov.in/"

In [7]:
df2 = cin.jhu_india_data(save=False)

In [8]:
df2 = cin.change_cal()

IndexError: index 0 is out of bounds for axis 0 with size 0

In [9]:
df2.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,0,0,0,0
1,Chhattisgarh,0,0,0,0
2,Delhi,9,0,0,0
3,Gujarat,2,0,0,0
4,Haryana,0,0,0,0

In [10]:
df2.shape

(21, 5)

In [11]:
df2

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,0,0,0,0
1,Chhattisgarh,0,0,0,0
2,Delhi,9,0,0,0
3,Gujarat,2,0,0,0
4,Haryana,0,0,0,0
5,Karnataka,0,0,0,0
6,Kerala,7,5,0,0
7,Maharashtra,11,0,0,0
8,Odisha,0,0,0,0
9,Puducherry,0,0,0,0
10,Punjab,11,0,0,0
11,Rajasthan,0,0,0,0
12,Tamil Nadu,0,0,0,0
13,Telengana,2,2,0,0
14,Union Territory of Chandigarh,1,0,0,0
15,Union Territory of Jammu and Kashmir,4,0,0,0
16,Union Territory of Ladakh,10,0,0,0
17,Uttar Pradesh,1,0,0,0
18,Uttarakhand,0,0,0,0
19,West Bengal,1,0,0,0
20,Total number of confirmed cases in India,53,7,0,0

In [12]:
df2 = cin.change_cal()

data_display = """
| **Name of State / UT** | **Total Confirmed cases (Indian National)** | **Total Confirmed cases ( Foreign National )** | |**Cured/Discharged/Migrated** |  | **Death** |
|:---------|:---------:|:---------:|:---------:|:---------:|:---------:|:---------:|
"""
# df = df.sort_values('Total Confirmed cases (Indian National)', ascending=False)
for v1, v2 in zip(df.values, df2.values):
    a = v1[0]
    b = v1[1] if v2[1] == 0 else f"{v1[1]} (**+{v2[1]}**)"
    c = v1[2] if v2[2] == 0 else f"{v1[2]} (**+{v2[2]}**)"
    d = v1[3] if v2[3] == 0 else f"{v1[3]} (**+{v2[3]}**)"
    e = v1[4] if v2[4] == 0 else f"{v1[4]} (**+{v2[4]}**)"
    v = f"""|{a}|{b}|{c}||{d}||{e}|\n"""
    data_display += v

['Andhra Pradesh' 'Chhattisgarh' 'Delhi' 'Gujarat' 'Haryana' 'Karnataka'
 'Kerala' 'Maharashtra' 'Odisha' 'Puducherry' 'Punjab' 'Rajasthan'
 'Tamil Nadu' 'Telengana' 'Union Territory of Chandigarh'
 'Union Territory of Jammu and Kashmir' 'Union Territory of Ladakh'
 'Uttar Pradesh' 'Uttarakhand' 'West Bengal'
 'Total number of confirmed cases in India']

In [13]:
print(data_display)

| **Name of State / UT** | **Total Confirmed cases (Indian National)** | **Total Confirmed cases ( Foreign National )** | |**Cured/Discharged/Migrated** |  | **Death** |
|:---------|:---------:|:---------:|:---------:|:---------:|:---------:|:---------:|
|Andhra Pradesh|3|0||0||0|
|Chhattisgarh|1|0||0||0|
|Delhi|26 (**+9**)|1||5||1|
|Gujarat|14 (**+2**)|0||0||0|
|Haryana|3|14||0||0|
|Himachal Pradesh|2|0||0||0|
|Karnataka|20 (**+7**)|0 (**+5**)||2||1|
|Kerala|45 (**+11**)|7||3||0|
|Madhya Pradesh|4|0||0||0|
|Maharashtra|60|3||0||1|
|Odisha|2 (**+11**)|0||0||0|
|Puducherry|1|0||0||0|
|Punjab|13|0||0||1|
|Rajasthan|22 (**+2**)|2 (**+2**)||3||0|
|Tamil Nadu|4 (**+1**)|2||1||0|
|Telengana|10 (**+4**)|11||1||0|
|Chandigarh|5 (**+10**)|0||0||0|
|Jammu and Kashmir|4 (**+1**)|0||0||0|
|Ladakh|13|0||0||0|
|Uttar Pradesh|24 (**+1**)|1||9||0|
|Uttarakhand|3 (**+53**)|0 (**+7**)||0||0|

In [15]:
a, b = [1,2]

In [18]:
from pathlib import Path
import pandas as pd
import numpy as np

In [19]:
p1 = Path('data/')
files = list(p1.glob('*.csv'))
f_path = []
for file in files:
    print(file.parts)
    if 'moh' in file.parts[-1]:
        f_path.append(file)

df = pd.read_csv(f_path[-1])
df1 = pd.read_csv(f_path[-2])

('data', '21.03.2020_moh_india.csv')
('data', '20-03-2020_jhu_india.csv')
('data', '20.03.2020_moh_india.csv')
('data', '21-03-2020_jhu_india.csv')

In [23]:
lst = []
for name in df['Name of State / UT'].values:
    if name in df1['Name of State / UT'].values:
        a = (df[df['Name of State / UT'] == name]).values[0][1:].astype(np.int64)
        b = (df1[df1['Name of State / UT'] == name]).values[0][1:].astype(np.int64)
        lst.append([name] + list(a - b))
    else:
        a = list((df[df['Name of State / UT'] == name]).values[0])
        lst.append(a)
df2 = pd.DataFrame(data=lst, columns=df.columns)

In [27]:
f_path

[PosixPath('data/21.03.2020_moh_india.csv'),
 PosixPath('data/20.03.2020_moh_india.csv')]

In [28]:
df2

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,0,0,0,0
1,Chhattisgarh,0,0,0,0
2,Delhi,0,0,0,0
3,Gujarat,0,0,0,0
4,Haryana,0,0,0,0
5,Himachal Pradesh,0,0,0,0
6,Karnataka,0,0,0,0
7,Kerala,0,0,0,0
8,Madhya Pradesh,0,0,0,0
9,Maharashtra,0,0,0,0
10,Odisha,0,0,0,0
11,Puducherry,0,0,0,0
12,Punjab,0,0,0,0
13,Rajasthan,0,0,0,0
14,Tamil Nadu,0,0,0,0
15,Telengana,0,0,0,0
16,Chandigarh,0,0,0,0
17,Jammu and Kashmir,0,0,0,0
18,Ladakh,0,0,0,0
19,Uttar Pradesh,0,0,0,0
20,Uttarakhand,0,0,0,0
21,West Bengal,0,0,0,0
22,Total number of confirmed cases in India,0,0,0,0