In [51]:
from data.data import COVID19India

In [52]:
cin = COVID19India()

In [53]:
df = cin.moh_data(save=False)

In [54]:
df.tail()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
19,Ladakh,13,0,0,0
20,Uttar Pradesh,32,1,9,0
21,Uttarakhand,3,0,0,0
22,West Bengal,7,0,0,1
23,Total number of confirmed cases in India,451,41,37,9

df

In [12]:
df2 = cin.jhu_india_data()

In [13]:
df2.tail()

         date  confirmed  recovered  deaths
57 2020-03-19      194.0       15.0     4.0
58 2020-03-20      244.0       20.0     5.0
59 2020-03-21      330.0       23.0     4.0
60 2020-03-22      396.0       27.0     7.0
61 2020-03-23      396.0       27.0     7.0

In [25]:
df2.iloc[61:, 1:] = [471, 35, 9]

In [26]:
df2

         date  confirmed  recovered  deaths
0  2020-01-22        0.0        0.0     0.0
1  2020-01-23        0.0        0.0     0.0
2  2020-01-24        0.0        0.0     0.0
3  2020-01-25        0.0        0.0     0.0
4  2020-01-26        0.0        0.0     0.0
..        ...        ...        ...     ...
57 2020-03-19      194.0       15.0     4.0
58 2020-03-20      244.0       20.0     5.0
59 2020-03-21      330.0       23.0     4.0
60 2020-03-22      396.0       27.0     7.0
61 2020-03-23      471.0       35.0     9.0

[62 rows x 4 columns]

In [2]:
from pathlib import Path

In [3]:
import pandas as pd
import numpy as np

markdown_file = open('help.md')
file_content = markdown_file.read()
md = markdown.Markdown(extensions=['tables', 'codehilite', 'fenced_code'])
pg = md.convert(file_content)